@model List<JobManagementWeb.Infrastructure.Models.JobVM>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Jobs</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="">
                <td>
                    @item.AssignedTo.EngineerName
                </td>
                <td>
                    @item.CurrentStatus.StatusName
                </td>
                <td>
                    @item.CustomerName
                </td>
                <td>
                    @item.CustomerPhone
                </td>
                <td>
                    @item.ServiceType
                </td>
            </tr>
        }
    </tbody>
</table>
