@model JobManagementWeb.Infrastructure.Models.JobVM

<div>
    <dl>
        <dt>
            @Html.DisplayNameFor(model => model.JobId)
        </dt>
        <dd>
            <span id="spanJobId" class="jobDetails">
                @Html.DisplayFor(model => model.JobId)
            </span>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CustomerName)
        </dt>
        <dd>
            <span id="spanCustomerName" class="jobDetails">
                @Html.DisplayFor(model => model.CustomerName)
            </span>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CustomerPhone)
        </dt>
        <dd>
            <span id="spanCustomerPhone" class="jobDetails">
                @Html.DisplayFor(model => model.CustomerPhone)
            </span>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ServiceType)
        </dt>
        <dd>
            <span id="spanServiceType" class="jobDetails">
                @Html.DisplayFor(model => model.ServiceType)
            </span>
        </dd>
    </dl>
</div>
